*~
*.spec
.*.swp
*.tar.gz
*.cdbs*
.deps
.libs
*.lo
*.loT
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-tree
classes
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
java.built
libtool
ltmain.sh
org_opennms_*.h
missing
pom.xml
solaris/pkginfo
stamp-h1
tests.sh
tests/*.class
jicmp.jar
