*.spec
.*.swp
*.tar.gz
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
classes
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
java.built
libtool
ltmain.sh
org_opennms_*.h
missing
pom.xml
solaris/pkginfo
stamp-h1
